
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}



body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(5, 7, 12,0.75),rgba(5, 7, 12,0.75)), url(galaxy-nature-aesthetic-background-starry-sky-mountain-remixed-media.jpg)
    no-repeat center center fixed;
    background-size: cover;

}
.container{
    max-width: 1100px;
    margin: 0 auto;
}

.back{
    padding:32px 0;
    background-color: #2a394f;

}
.menu {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 24px;
    color: #b5bdc2;
    font-weight: 800;
    text-transform: uppercase;

}
.menu .navbar ul li{
    position: relative;
    float: left; 
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #f7f7ff;
    display: block;

}
.menu .navbar ul li a:hover{
    color:#15a4f9;

}
#menu {
    display: none;
}

.menu-icono{
    font-size: 25px;
}
.menu label {
    cursor: pointer;
    display: none;

}

@media only screen and (max-width:991px) {

    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;

    }

    .back {
        padding: 47px 0;

    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2a394f;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;

    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .menu-icono {
        width: 50px;
        height: 50px;

    }
}

.contenedoor {
    background-color: var(--color-terciario); 
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.contenedorForm{
   background-color: #181b21;
   padding:50px;
   padding-left: 75px;
   padding-right: 75px;
   margin-top: 40px;
   border-radius: 5px;
   color: #fff;
   margin:10px;
   box-shadow: 0 0 20px 0 rgba(248, 248, 248, 0.55);
   margin-top: 50px;
}

.contenedorForm h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
    padding: 10px;
    background-color: #181b21;
    border-radius: 5px;
    margin-bottom: 10px;
}

input { 
    width:100%;
    border:none;
    background: none;
    border-bottom: 1px solid #15a4f9;
    outline: none;
    color: #f7f7ff;
}
button{
    width:100%;
    border:none;
    background: none;
    border: 1px solid #15a4f9;
    outline: none;
    color: #f7f7ff;
    margin-bottom:30px;
}

